.color-red{
    color: red;
}
.color-red{
    color: red;
}
.color-grey-184{
    color: rgb(165, 165, 165);
}
.bg-white{
    background-color: white;
}
.bg-darkblue{
    background-color:darkblue;
}
.bg-red-100{
    background-color: rgb(248, 189, 189);
}
.bg-none{
    background-color: transparent;
}
.border-grey{
border-color: grey;
}
.border-green{
border-color:green;
}
.bg-grey-2{
background-color: #d6d5d5;
}
.bg-green-2{
background-color:#bcf7bc;
}
.bg-red-2{
background-color:#f8bfbf;
}
.secondary-color-1{
   color: #1e293b
}
.color-black{
    color: black;
}
.color-darkblue{
    color: darkblue;
}
.color-blue{
    color: blue;
}
.color-green{
    color: green;
}
.color-grey-200{
    color: #334155;
}